@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Global background */
body {
  @apply bg-white text-gray-900 dark:bg-[#05010b] dark:text-gray-100;
}
